* {
    font-family: Calibri;
    background-color: #2C2F33;
    color: #99AAB5;
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    width: 10%;
    height: 100%;
    border-right: 1px solid #23272A;
    position: fixed;
    overflow: auto;
}
nav ul li {
    text-align: center;
}
nav ul li a {
    display: block;
    text-decoration: none;
    padding: 8px 16px;
}
nav ul li a:hover {
    color: #FFFFFF;
}
div.main {
    margin-left: 10%;
    padding: 1px 16px;
}